nav {

  .logo {
    width      : 350px;
    margin-left: 3%;


    justify-content: start;

    img {
      width: 38px;
    }

    span {
      @include font-size (22);
      font-weight: 500;

      color: $primary-color-tx;
    }
  }

  .pesquisa {
    @include flex-direction(row);
    position: relative;

    margin-right: 18%;


    img {
      width: 23px;

      position: absolute;
      left    : 10px;
    }

    input {
      width : 300px;
      height: 35px;

      border       : 1px solid black;
      border-radius: 5px;

      padding: 5px;
      cursor : text;

      text-align: center;
      transition: 0.25s ease-in-out;

      &:focus {
        background: rgb(219, 219, 219);
      }
    }
  }

  .sair {
    @include flex-direction (row);
    width       : 100px;
    margin-right: 3%;

    transition: all 150ms ease-in;

    &:hover {
      filter: brightness(0.70);
    }

    span {
      @include font-size (20);
      cursor: pointer;

      color: $primary-color-tx;
    }

    img {
      width : 22px;
      cursor: pointer;
    }
  }
}

main {
  @include flex-direction (column);
  justify-content: center;

  height    : 100%;
  margin-top: 75px;


  .container {
    width : 94%;
    height: 65vh;

    margin-top: -150px;
    padding   : 3% 0;

    border-radius: 5px;
    box-shadow   : 0 0 45px rgba(0, 0, 0, 0.3);

    color: $secundary-color-tx;
  }
}

.content {
  width : 100%;
  height: 100%;

  form {

    padding: 0 3%;

    label {
      @include font-size(20);
      font-weight: 700;

      margin-right: 10px;
      color       : $secundary-color;
    }

    select {
      @include font-size(17);
      width : 90px;
      height: 25px;

      font-weight     : 500;
      // border       : 1px solid black;
      border          : none;
      border-radius   : 3px;

      background: rgb(220, 220, 220);
    }

  }

  table {
    width: 100%;

    margin-top: 30px;

    thead {

      background: lighten($secundary-color-tx, 3);

      th {
        @include font-size (20);

        width: 20%;

        text-align: center;

        &:nth-last-child(1) {
          border: none;
        }
      }

    }

    tbody {

      background: rgb(112, 112, 112);

      td {
        @include font-size (20);

        width: 20%;

        text-align: center;

        &:nth-last-child(1) {
          border: none;
        }
      }
    }

  }
}

.listrado {
  background: #000;
}



// .titulos {
//       @include flex-direction (row);

//       // height: 50px;

//       width: 100%;


//       color     : black;
//       background: lighten($secundary-color-tx, 10);


//       h5 {
//         @include font-size(26);
//         font-weight: 500;

//         color: $primary-color-tx;
//       }
//     }